<% if (errors && errors.length> 0) { %>
    <ul class="error-list">
        <% errors.forEach(function(error) { %>
            <li>
                <%= error %>
            </li>
            <% }); %>
    </ul>
    <% } %>

        <style>
            .error-list {
                list-style: none;
                color: rgb(167, 41, 41);

            }
        </style>