.new-input-container {
    margin-top: 1em;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.btn {
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    transition: .3s ease-in-out;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #5a6268;
}