* {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


body,
html {
    height: 100%;
}

/*Inherit fonts for form controls*/
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.btn {
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    transition: .3s ease-in-out;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-primary {
    background-color: #094277;
    color: #fff;
}

.btn-primary:hover {
    background-color: #1667b3;

}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 2em;
}

main {
    padding: 2em 4em;
    max-width: 2000px;
}

section {
    margin: 1em 0;
}

#all-games-section h2,
#genres-section h2 {
    margin-bottom: 1em;
}


#games-container,
#genre-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em .5em;
    justify-items: center;
    align-items: center;
}

.game-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
}

.game-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-footer {
    margin: .5em 0;
    height: 100px;
}

.genre-card {
    height: 100px;
    width: 200px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #291852;
    color: #fff;
    font-weight: 800;
    margin: 1em 0;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s ease-in-out;
    text-decoration: none;
}

.genre-card:hover {
    background-color: #422586;

}

#genre-section {
    margin-top: 2em;
}


.game-buttons {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 1em;
}