* {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


body,
html {
    height: 100%;
}

/*Inherit fonts for form controls*/
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em 0;
}

main {
    padding: 2em 4em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em .5em;
    max-width: 2000px;
    justify-items: center;
    align-items: center;
}

.game-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
}

.game-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-footer {
    margin: .5em 0;
    outline: 1px dashed red;
}